<h2>Fish are amazing</h2>
<p> I think that fish are the most amazing species. There are many types of fish such as: Cod, trout, rainbow fish,
parrot fish, Red snapper, Puffer fish etc.There are even different types of trout. There are Rainbow trout.
Fish live in many different place. They can live in river, lakes and oceans. They can live in freshwater and
saltwater. Fish are amazing species that will never cese to amaze you. </p>
<img src=" http://www.exhibitfiles.org/dfile2/ReviewImage/684/original/Hiroko__Masuike__Creatures__of__Light.jpg"></img>
<p> Some fish create their own light. These types of fish are called bioluminesencsecence. There are many bioluminecence
in the world.  </p>
<img src="https://beachwalkmuse.files.wordpress.com/2013/10/bioluminesencse.jpg"></img>
<p> This really is a fish!!!</p>
<img src="http://newsimg.bbc.co.uk/media/images/41253000/jpg/_41253676_fish_pa203b.jpg"></img>
<p> Fish can vary in size. There are many different sizes and shapes. This is a very small fish.  </p>
<img src=" http://www.seasky.org/coral-reef-life/assets/images/long_spined_purcupinefish.jpg"></img>
<p> This fish is called a puffer fish. This is a very adaptive fish. It puffs up (as shown in picture) to scare off other
fish.
A squid has adaptivity too. They spray ink at you and you can't see. This is how sea creatures defend themselves. </p>
<p> I love fish. they are one of the most amazing creatures. I hope you like sea creatures as much as I do.  </p>
